/* General Stylings */
:root {
    --font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    --font-weight: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30px 6fr 1.5fr;
    width: 100vw;
    height: 100vh;
}

/* Home Row Stylings */
header {
    grid-column: 1 / 3;
    background-color: lightcyan;
}

#home-row {
    display: flex;
    justify-content: space-evenly;
}

#home-row a {
    color: #000;
}

#home-row p {
    margin: 0px;
}

/* Stations Container Stylings */
aside {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: lightgrey;
}

aside * {
    cursor: pointer;
}

/* Station Playlist Stylings */
main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#playlist-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

/* Station Data/Info Stylings */
#station-info {
    grid-row: 1 / 2;
    background-color: lightblue;
}

/* Station Songs Stylings */
#station-songs {
    grid-row: 2 / 3;
    background-color: lightcyan;
}

/* Play Stylings */
footer {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: lightblue;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}